@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/mattone');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Code CSS pour masquer le contenu sur les appareils mobiles */
@media only screen and (max-width: 768px) {
    body {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 7px;
    width: 7px;
}

*::-webkit-scrollbar-track {
    border-radius: 18px;
    background-color: #B8C0C2;
    border: 3px solid #F5F5F5;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #201B1B;
    border: 1px solid #F5F5F5;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #20201F;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #201B1B;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Familjen Grotesk';
    text-transform: uppercase;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

.word {
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.5s ease-in-out;
}


.canevas {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
}

.hero-img img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    object-fit: cover;
    height: 60vh;
    width: 100%;
    filter: brightness(90%) saturate(120%) sepia(20%);
}

.hero-white-block {
    position: absolute;
    bottom: 40%;
    left: 2.5%;
}


/* Navbar */

.navbar {
    height: 20%;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.logo {
    margin-top: 1%;
    margin-bottom: 1%;
}

.navbar-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.navbar-list ul li {
    font-size: 0.8rem;
    font-weight: bold;
    list-style: none;
}

.navbar-list ul li a {
    text-decoration: none;
    color: #201B1B;
}

.navbar-list ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #201B1B;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
    transform: translateY(5px);
}

.navbar-list ul li a:hover::after {
    width: 100%;
}

.bar {
    height: 20px;
    width: 1px;
    background: #201B1B;
}

/* Sticky Navbar */

.navbar-sticky {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    background: #201B1B;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}

.navbar-sticky:hover {
    background: #1b1717;
}

.logo-text-sticky {
    padding: 1% 0 1% 2.5%;
    font-size: 0.9rem;
    font-weight: bold;
}

.logo-text-sticky a {
    text-decoration: none;
    color: #F5F5F5;
}

.navbar-list-sticky {
    padding: 1% 2.5% 1% 0;
}

.navbar-list-sticky ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.navbar-list-sticky ul li {
    font-size: 0.8rem;
    font-weight: bold;
    list-style: none;
}

.navbar-list-sticky ul li a {
    text-decoration: none;
    color: #F5F5F5;
}

.bar-sticky {
    height: 20px;
    width: 1px;
    background: #F5F5F5;
}

.navbar-list-sticky ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #F5F5F5;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
    transform: translateY(5px);
}

.navbar-list-sticky ul li a:hover::after {
    width: 100%;
}


/* Hero */

.hero {
    height: 30vh;
    display: flex;
    align-items: center;
    color: #201B1B;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.hero-section1 {
    display: flex;
    margin-top: 40px;
}

.hero-content1 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 70%;
}

.media-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-content1 p {
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.hero-content2 :nth-child(1) {
    width: 100%;
    font-family: 'Mattone';
    font-size: 2vw;
    font-weight: 600;
    color: #201B1B;
}

.hero-content2 :nth-child(2) {
    width: 70%;
    font-size: 0.7rem;
    color: #201B1B;
    margin-top: 10px;
}

svg {
    transition: transform 0.2s ease-in-out;
}

svg:hover {
    transform: translateY(-3px);
}



/* Citation */

.citation {
    margin-top: 100px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.citation-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.citation-title {
    width: 70%;
    font-family: 'Mattone';
    font-size: 2vw;
    color: #201B1B;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



/* Univers Section*/


.univers-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

.univers-content-title {
    width: 40%;
    margin-left: 40px;
    margin: 0;

}

.univers-content-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;

}

.univers-content-items-intro {
    font-size: 1rem;
}

.univers-content-item-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.univers-content-item-detail-img {
    height: 80%;
    width: 100%;
    transition: clip-path 0.5s;

}

.univers-content-item-detail-img img {
    object-fit: cover;
    height: 80%;
    width: 100%;
}

.univers-content-text {
    margin: 0;
    font-family: 'Mattone';
    color: #201B1B;
    font-size: 3vw;
    font-weight: 600;
}


.univers-content-items {
    width: 60%;
    margin-top: 10px;
}


.univers-content-item-detail-title {
    font-family: 'Mattone';
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.univers-content-item-detail-detail {
    font-size: 10px;
    font-weight: 500;
    line-height: 0.8rem
}

.univers-content-item-detail-about {
    font-size: 0.8rem;
    line-height: 1.1rem;
    column-count: 2;
    text-align: justify;
}


/* Logo Meaning Section*/

.logo-meaning-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
}

.logo-meaning-text {
    font-size: 0.9rem;
    font-weight: 400;
}


.logo-meaning-content {
    position: relative;
}

.algerian {
    position: absolute;
    bottom: 89%;
    left: 80%;
    white-space: nowrap;
}

.techno {
    position: absolute;
    bottom: 71%;
    left: 110%;
    white-space: nowrap;
}

.movement {
    position: absolute;
    bottom: 55%;
    left: 110%;
    white-space: nowrap;
}


.logo-meaning-end {
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.logo-meaning-end-text {
    font-size: 0.9rem;
    font-weight: 600;
    width: 70%;
    text-align: center;
}


/* Home*/

.home {
    position: relative;
    z-index: 100;
    margin-bottom: 100vh;
    background: #F5F5F5;
}


/* Footer*/


footer {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.8rem;
    font-family: 'Mattone';
    font-weight: 500;
    margin-top: 50px;
    color: #F5F5F5;
    width: 100%;
    background-size: cover;

    position: fixed;
    bottom: 0;
    z-index: -1;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #201B1B;
    padding: 20px 0 20px 20px;
    transition: all 0.3s ease-in;
    height: 100vh;
    flex-basis: 25%;
}

.footer-section:hover {
    background: #1b1717;
}

.footer-section-detail ul {
    list-style: none;
}

.footer-section-detail ul li {
    padding: 0 0 10px 12px;
    transform: translateX(0);
    transition: all 0.3s ease-in;
    width: fit-content;
}

.footer-section-detail ul li:hover {
    transform: translateX(5px);
}

.footer-section-detail ul li a {
    text-decoration: none;
    color: #F5F5F5;
}

.footer-section-title {
    font-size: 0.9rem;
    font-weight: 500;
    padding-top: 30%;
    color: #f5f5f57e;
}

.footer-section-detail {
    margin-bottom: 20px;
}

.footer-section-detail p {
    line-height: 1.2rem;
}

.footer-section-detail2 {
    font-family: 'Familjen Grotesk';
    font-size: 0.7rem;
    color: #f5f5f57e;
}

.footer-section-detail2 a {
    text-decoration: underline;
    color: #f5f5f57e;
}

form {
    display: flex;
    flex-direction: column;
}

.form form label {
    width: 70%;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 10px 10px 10px 5px;
}

.form form .form-flex input {
    font-size: 0.8rem;
    color: #f5f5f57e;
    background: none;
    padding: 10px 0 5px 5px;
    border: none;
    width: 250px;
}

.form-flex {
    width: fit-content;
    border-bottom: solid 1px #aaa;

}


.form form button {
    font-size: 0.8rem;
    color: #f5f5f57e;
    background: none;
    padding: 10px 10px 0 5px;
    border: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}




/* Images Reveal*/

.project-title h1 {
    font-size: 1.2rem;
    font-family: 'Mattone';
    font-weight: 600;
}

.project-categ {
    font-weight: lighter;
    font-size: 0.8rem;
}

.cursor {
    position: absolute;
    width: 550px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: scale(0.1);
    opacity: 0;
    margin: -100px 0 0 -100px;
    background: url(image-1.jpg) no-repeat 50% 50%;
    background-size: cover;
    z-index: 1;
}

.wrapper {
    width: 90%;
    margin: 100px auto;
    height: 100%;
}

.project {
    border-bottom: 1px solid #201b1b3b;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1;
    position: relative;
    z-index: 2;
    color: #201B1B;
    height: 50px;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}