@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/mattone');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Code CSS pour masquer le contenu sur les appareils mobiles */
@media only screen and (max-width: 768px) {
    body {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 7px;
    width: 7px;
}

*::-webkit-scrollbar-track {
    border-radius: 18px;
    background-color: #B8C0C2;
    border: 3px solid #F5F5F5;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #201B1B;
    border: 1px solid #F5F5F5;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #20201F;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #201B1B;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Familjen Grotesk';
    text-transform: uppercase;
    background-color: #F5F5F5;
    box-sizing: border-box;
}


.canevas {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
}

.hero-img img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    object-fit: cover;
    height: 60vh;
    width: 100%;
    filter: brightness(90%) saturate(120%) sepia(20%);
}

.hero-white-block {
    position: absolute;
    bottom: 20%;
    left: 3%;
    width: 500px;
    height: 100px;
    border-radius: 50px;
    background: url(img/xavo.jpg) 50% 20% no-repeat;
    background-size: cover;
}

.hero-white-block img {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s ease-in-out;
}

.hero-white-block img:hover {
    transform: scale(0.9);
}



/* Navigation */

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #201B1B;
    color: #F5F5F5;
    z-index: 9;
    font-family: 'Mattone';
    box-sizing: border-box;
    overflow: hidden;
}

.navigation-content {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
}


.navigation-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.navigation-img {
    width: 20vw;
    height: 40vh;
    background-image: url(img/elec.jpg);
    background-size: cover;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: clip-path 1s;
}

.navigation-medias {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    color: #F5F5F5;
    font-size: 0.6rem;
    gap: 5px;
    opacity: 0;
    transform: translateY(10px);
}

.navigation-medias a {
    text-decoration: none;
    cursor: pointer;
    color: #F5F5F5;
}


.navigation ul {
    width: 60%;
    margin-left: 20%;
}

.navigation ul li {
    list-style: none;
    font-size: 4vw;
    font-weight: 600;
    padding: 5px;
}

.navigation ul a {
    text-decoration: none;
    cursor: pointer;
    color: #F5F5F5;
}

.navigation p {
    font-size: 0.8rem;
}

.navigation-text {
    font-family: 'Familjen Grotesk';
    font-size: 0.6rem;
}




/* Navbar */

.navbar {
    height: 20%;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 10;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-bottom: solid 1px #201b1b3b;
}

.logo {
    margin-top: 1%;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-text {
    font-family: 'Mattone';
    font-size: 55%;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
}


.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-line {
    background: #201B1B;
    height: 4px;
    width: 30px;
    border-radius: 5px;
}

.navbar-menu:hover .menu-text {
    font-size: 50%;
    transition: font-size 0.5s ease-in-out;
}

.navbar-menu:hover .menu-btn {
    gap: 6px;
    border-radius: 50%;
    background: rgb(230, 230, 230);
}



/* Hero */

.hero {
    height: 30vh;
    display: flex;
    align-items: center;
    color: #201B1B;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.hero-section1 {
    display: flex;
    margin-top: 40px;
}

.hero-content1 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 70%;
}

.media-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-content1 p {
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.hero-content2 :nth-child(1) {
    width: 100%;
    font-family: 'Mattone';
    font-size: 2vw;
    font-weight: 600;
    color: #201B1B;
}

.hero-content2 :nth-child(2) {
    width: 70%;
    font-size: 0.7rem;
    color: #201B1B;
    margin-top: 10px;
}

svg {
    transition: transform 0.2s ease-in-out;
}

svg:hover {
    transform: translateY(-3px);
}


/* Citation */

.citation {
    margin-top: 100px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.citation-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.citation-title {
    width: 70%;
    font-family: 'Mattone';
    font-size: 2vw;
    color: #201B1B;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



/* Univers Section*/


.univers-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

.univers-content-title {
    width: 40%;
    margin-left: 40px;
    margin: 0;

}

.univers-content-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;

}

.univers-content-items-intro {
    font-size: 1rem;
}

.univers-content-item-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.univers-content-item-detail-img {
    height: 80%;
    width: 100%;
    transition: clip-path 0.5s;

}

.univers-content-item-detail-img img {
    object-fit: cover;
    height: 80%;
    width: 100%;
}

.univers-content-text {
    margin: 0;
    font-family: 'Mattone';
    color: #201B1B;
    font-size: 3vw;
    font-weight: 600;
}


.word {
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.5s ease-in-out;
}


.univers-content-items {
    width: 60%;
    margin-top: 10px;
}


.univers-content-item-detail-title {
    font-family: 'Mattone';
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.univers-content-item-detail-detail {
    font-size: 10px;
    font-weight: 500;
    line-height: 0.8rem
}

.univers-content-item-detail-about {
    font-size: 0.8rem;
    line-height: 1.1rem;
    column-count: 2;
    text-align: justify;
}


/* Logo Meaning Section*/

.logo-meaning-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
}

.logo-meaning-text {
    font-size: 0.9rem;
    font-weight: 400;
}


.logo-meaning-content {
    position: relative;
}

.algerian {
    position: absolute;
    bottom: 89%;
    left: 80%;
    white-space: nowrap;
}

.techno {
    position: absolute;
    bottom: 71%;
    left: 110%;
    white-space: nowrap;
}

.movement {
    position: absolute;
    bottom: 55%;
    left: 110%;
    white-space: nowrap;
}


.logo-meaning-end {
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    justify-content: center;
}

.logo-meaning-end-text {
    font-size: 0.9rem;
    font-weight: 600;
    width: 70%;
    text-align: center;
}


/* Home*/

.home {
    position: relative;
    z-index: 10;
}


/* Footer*/

footer {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.8rem;
    font-weight: lighter;
    margin-top: 50px;
    color: #F5F5F5;
}

.footer-img {
    position: absolute;
    bottom: 10%;
    right: 0;
    z-index: -1;
    width: 60%;
    height: 90%;
    background-image: url(img/alger7.jpg);
    background-size: cover;
    opacity: 0.8;
}


.footer-section {
    width: 35%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background: #201B1B;
    padding: 50px 0 0 40px;
    transition: all 0.3s ease-in;
    margin-top: 200px;
    border-right: solid 0.1px #f5f5f53a;
}

.footer-section:hover {
    background: #1b1717;
}


.footer-section-logo {
    flex-basis: 70%;
}

.footer-section-logo img {
    width: 70px;
    margin: 10px 0 0 60px;
}

.footer-section-copyright {
    flex-basis: 30%;
}

.footer-section-detail ul {
    list-style: none;
}

.footer-section-detail ul li {
    padding: 5px 0 2px 10px;
    transform: translateX(0);
    transition: all 0.3s ease-in;
    width: fit-content;
}

.footer-section-detail ul li:hover {
    transform: translateX(9px);
}

.footer-section-detail ul li a {
    text-decoration: none;
    color: #F5F5F5;
}

.footer-section-title {
    font-size: 1rem;
    font-weight: 600;
    flex-basis: 20%;
}

.footer-section-detail {
    flex-basis: 50%;
}

.footer-section-detail2 {
    flex-basis: 30%;
    margin-top: 10px;
}

.footer-section-detail2 a {
    text-decoration: underline;
    color: #F5F5F5;
}



/* Images Reveal*/

.project-title h1 {
    font-size: 1.2rem;
    font-family: 'Mattone';
    font-weight: 600;
}

.project-categ {
    font-weight: lighter;
    font-size: 0.8rem;
}

.cursor {
    position: absolute;
    width: 550px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: scale(0.1);
    opacity: 0;
    margin: -100px 0 0 -100px;
    background: url(image-1.jpg) no-repeat 50% 50%;
    background-size: cover;
    z-index: 1;
}

.wrapper {
    width: 90%;
    margin: 100px auto;
    height: 100%;
}

.project {
    border-bottom: 1px solid #201b1b3b;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1;
    position: relative;
    z-index: 2;
    color: #201B1B;
    height: 50px;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}