@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/mattone');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #201B1B;
  font-family: 'Familjen Grotesk';
  text-transform: uppercase;
  background-color: #F5F5F5;
}

.canevas {
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 100vh;
}

/* Navbar */

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  color: #201B1B;
}

.align-items {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.logo {
  margin-top: 1%;
}

/* Content */


p,
h1 {
  margin: 0;
}

.content {
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 90vh;
}

.content-section {
  height: 100%;
  width: 100%;
  display: flex;
}

.content-section-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
}

.content-section-left-text {
  font-size: 0.7rem;
  font-weight: 400;
  width: 60%;
  margin-top: 20%;

}

.content-section-left ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.content-section-left ul li {
  font-family: 'Mattone';
  font-size: 3vw;
  font-weight: bolder;
  cursor: pointer;
  padding: 0;
  width: fit-content;
  color: #201b1b7a;
  transition: all 0.5s ease;
}

.content-section-left ul li:hover {
  color: #201B1B;
  transform: translateX(10px);
}

.content-section-right {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  position: relative;
}

.content-section-right img {
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}




/* Acc */


.acc-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  border-bottom: 1px solid #201B1B;
  cursor: pointer;
  position: relative;
}


.acc-toggle-icon {
  color: #201B1B;
}

.acc-title {
  font-size: 1.5rem;
  font-weight: 400;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.text {
  flex-basis: 50%;
}

.img {
  flex-basis: 50%;
  background: url(/img/3abdelkader.png) 50% 50% no-repeat;
  margin: 5px;
}

span {
  font-weight: bold;
}


ul li {
  padding: 4px 0;
  list-style: none;
  font-size: 0.8rem;
}

li:first-child {
  padding-top: 40px;
}

li:last-child {

  padding-bottom: 40px;
}

@media (max-width: 900px) {
  .acc-block {
    font-size: 20px;
    padding: 10px;
  }

  ul li {
    font-size: 20px;
  }

  li:first-child {
    padding-top: 10px;
  }

  li:last-child {
    padding-bottom: 10px;
  }
}

[data-collapsible] {
  cursor: pointer;
}

.heightZero {
  height: 0;
}